
*{
  margin: 0;
  padding: 0;
}

.page-body {
  background-color: #017c74;
  background-image: url("/src/assets/background-paws.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 100vw;

} 

.card.card-body {
  width: 300px;
  background-color: #FFFEF1;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-image: url("/src/assets/background-paws.png");
} 

.btn.btn-secondary {
  width: 125px;
  margin: 10px;
  background-color: #f8eebc;
  color: #017c74;
  font-weight: bolder; 
}

.btn.btn-secondary:hover {
  color: #017c74;
  background-color: #f7d359;
}

.cat-image{
  margin: 0 auto;
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.p{
  text-align: center;
}

.show-text{
  text-align: center !important;
}

.home-page{
  background-image: url("/src/assets/home-image.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.not-found{
  background-image: url("/src/assets/not-found.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.new-cat{
  background-image: url("/src/assets/background-paws.png");
  width: 35%;
}
